@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Raleway&family=Space+Mono&display=swap');
/* .container {
  height: 100vh;
}
*/

.banner {
  margin-top: 2.5vh;
  height: 35vh;
  width: 100%;
  background-image: url(https://ggwash.org/images/posts/201506-032142.png);
  display: flex;
}

.position {
  height: 20vh;
  width: 100%;
  display: inline-block;
}

.opacity{
  opacity: 0.8;
}

.image {
  height: 35vh;
  background-image: url(https://cdn.winsightmedia.com/platform/files/public/2022-11/background/Blank%201800%20x%20945%20%2814%29.jpg?VersionId=IwANrhYsyWg60l9xsxAzWKVl5jLKSayT);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 70%;
}

.text {
  margin-top: 10px;
  width: 70%;
  height: 50px;
  padding: 60px;
  margin-left: 25px;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}


