.container {
    width: 97.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .banner {
    background-color: #ffc72c;
    height: 100px;
    width: 100%;
  }
  
  .position {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image {
    background-color: #d4af37;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .inputs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    background-color: #f8f8f8;
  }
  
  input[type="range"] {
    width: 100%;
    margin-top: 10px;
  }
  
  button[type="submit"],
  button[type="button"] {
    width: 100%;
    background-image: linear-gradient(to bottom right, #9B1B30, #FDB813);
    border: none;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.4s ease-in-out;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
  
  label {
    font-size: 16px;
    color: #333;
  }